<!DOCTYPE html>
<html>
<head>
  <title>Client</title>
</head>
<body>

  <button id="sendBtn">Authenticate</button>

<script type="module">
   import { blake2s } from "https://cdn.jsdelivr.net/npm/blakejs@1.2.1/+esm";
  const LOCALHOST = "http://172.16.57.46:5000";

  const sensorData = {};
  function computeHash(message, key) {
    const encoder = new TextEncoder();
    const data = encoder.encode(message);

    const hash = blake2s(data); // ✅ BLAKE2s

    return Array.from(hash)
      .map(b => b.toString(16).padStart(2, '0'))
      .join('');
  }

function generateShortId(init_res,length = 4) {
  const chars = "0123456789";
  let result = init_res;

  const array = new Uint8Array(length);
  crypto.getRandomValues(array);

  for (let i = 0; i < length; i++) {
    result += chars[array[i] % chars.length];
  }

  return result;
}

function getRandomNumberFromSensor() {
  return Math.ceil(Math.random() * 255);
}

function xorHexWithInt(hex, num) {
  const bytes = hex.match(/.{1,2}/g).map(b => parseInt(b, 16));

  const result = bytes.map(b => b ^ num);

  return result
    .map(b => b.toString(16).padStart(2, '0'))
    .join('');
}

function getDeviceId() {
  
  let id = generateShortId("SEN_",4);
  
  return id;
}

function getDeviceSecretKey() {
  let id = localStorage.getItem("device_secret_key");

  if (!id) {
    id = generateShortId("SK_",6);
    localStorage.setItem("device_secret_key", id);
  }

  return id;
}

function getDeviceIdentityKey() {

  let id = localStorage.getItem("device_id_key");

  if (!id) {
    id = generateShortId("SID_",6);
    localStorage.setItem("device_id_key", id);
  }

  return id;
}  

async function sendRandom() {
  // Generate secure random number
  const arr = new Uint32Array(1);
  window.crypto.getRandomValues(arr);
  
  const AID = getDeviceId();
  const kS = getDeviceSecretKey(); // Sensor's secret key
  const r0 = getRandomNumberFromSensor();
  const IDs = getDeviceIdentityKey();
  const b0_concat_result = `${IDs}:${kS}:${r0}`;
  const b0 = computeHash(b0_concat_result);
  
  // Registration - Step 1
  const response = await fetch(`${LOCALHOST}/reg_1`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      AID: AID,
      r0: r0,
      b0: b0
    })
  });
  
  const data = await response.json();
  console.log(data);
  
  // Registration - Step 2
  const gatewayResponse = await fetch(`${LOCALHOST}/reg_2?b0=${b0}`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json"
    },
  });
  
  const gatewayData = await gatewayResponse.json();
  console.log(gatewayData)

  // Registration - Step 3
  sensorData.KP = gatewayData["KP"];
  sensorData.b1 = gatewayData["b1"];
  sensorData.b0 = b0;
  
  console.log(`Stored in Sensor: ${JSON.stringify(sensorData)}`);
 
  // Authentication - Step 1
  const r1 = getRandomNumberFromSensor();
  const now = new Date();
  const T1 = now.getTime();

  const d1_concat = `${AID}:${sensorData.b1}:${T1}`;
  const d1_left = computeHash(d1_concat);
  const D1 = xorHexWithInt(d1_left, r1);
  console.log(`D1: ${D1}, ${d1_left} ${r1} `);

  const D2_concat = `${r1}:${T1}:${sensorData.b0}`;
  const D2 = computeHash(D2_concat);
  console.log(`D2: ${D2}`);

  const M1 = {
    T1: T1,
    AID: AID,
    D1: D1,
    D2: D2
  };

  // Sending to gateway
  const sendToGateway = await fetch(`${LOCALHOST}/auth_1`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(M1)
  });

  const authGatewayResponse = await sendToGateway.json();
  console.log(authGatewayResponse);

  // Authentication - Step 2
  const receiveFromGateway = await fetch(`${LOCALHOST}/auth_2`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json"
    }
  });

  

}
document.getElementById("sendBtn").addEventListener("click", sendRandom);
</script>

</body>
</html>